.mediaViewInfo {
	--web-view-name: Servicios – 1;
	--web-view-id: Servicios__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Servicios__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Servicios__1 {
	position: absolute;
	width: 484px;
	height: 1054px;
	background-color: rgba(233,237,240,1);
	overflow: hidden;
	--web-view-name: Servicios – 1;
	--web-view-id: Servicios__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Trazado_297 {
	fill: rgba(255,255,255,1);
}
.Trazado_297 {
	filter: drop-shadow(0px 3px 99px rgba(26, 83, 92, 0.067));
	overflow: visible;
	position: absolute;
	width: 781px;
	height: 1343px;
	left: 4px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_46_m {
	fill: url(#Elipse_46_m);
}
.Elipse_46_m {
	position: absolute;
	overflow: visible;
	width: 727px;
	height: 794px;
	left: -117px;
	top: -106px;
}
#Rectngulo_130 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_130 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 591px;
	left: 35px;
	top: 258px;
}
#Grupo_240 {
	position: absolute;
	width: 1px;
	height: 1px;
	left: -2348px;
	top: -57px;
	overflow: visible;
}
#iStock-1131490762 {
	filter: drop-shadow(0px -12px 12px rgba(21, 65, 72, 0.09));
	position: absolute;
	width: 206px;
	height: 189px;
	left: 135px;
	top: 35px;
	overflow: visible;
}
#Grupo_241 {
	position: absolute;
	width: 163px;
	height: 47px;
	left: 165px;
	top: 641px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inicio.html;
	cursor: pointer;
}
#Rectngulo_23_s {
	fill: url(#Rectngulo_23_s);
}
.Rectngulo_23_s {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#INGRESAR {
	left: 42px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#ic_group_add_24px {
	fill: rgba(167,167,167,1);
}
.ic_group_add_24px {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 43.439px;
	left: 224px;
	top: 364.561px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_128 {
	fill: transparent;
	stroke: rgba(167,167,167,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_128 {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 47px;
	left: 140px;
	top: 459px;
}
#Usuario {
	left: 217px;
	top: 472px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(135,135,135,1);
	letter-spacing: 0.5px;
}
#Rectngulo_131 {
	fill: transparent;
	stroke: rgba(167,167,167,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_131 {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 47px;
	left: 140px;
	top: 544px;
}
#Contrasea {
	left: 202px;
	top: 557px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(135,135,135,1);
	letter-spacing: 0.5px;
}
#BIENVENIDO {
	left: 161px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#O_ingresa_con {
	left: 199px;
	top: 714px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(167,167,167,1);
	letter-spacing: 0.5px;
}
#Grupo_238 {
	position: absolute;
	width: 184.283px;
	height: 21.334px;
	left: 154px;
	top: 759.384px;
	overflow: visible;
}
#facebook {
	position: absolute;
	width: 8.082px;
	height: 21.334px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#XMLID_835__ {
	fill: url(#XMLID_835__);
}
.XMLID_835__ {
	overflow: visible;
	position: absolute;
	width: 8.082px;
	height: 21.334px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	position: absolute;
	width: 17.337px;
	height: 19.528px;
	left: 80.551px;
	top: 1.806px;
	overflow: visible;
}
#XMLID_827__ {
	fill: url(#XMLID_827__);
}
.XMLID_827__ {
	overflow: visible;
	position: absolute;
	width: 17.337px;
	height: 19.528px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#google-plus {
	position: absolute;
	width: 13.596px;
	height: 19.263px;
	left: 170.687px;
	top: 1.806px;
	overflow: visible;
}
#XMLID_512__ba {
	fill: url(#XMLID_512__ba);
}
.XMLID_512__ba {
	overflow: visible;
	position: absolute;
	width: 13.596px;
	height: 19.263px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#No_tienes_cuenta_aun_Registrat {
	left: 134px;
	top: 973px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(167,167,167,1);
	letter-spacing: 0.5px;
}
#Trazado_300 {
	fill: rgba(255,255,255,1);
}
.Trazado_300 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 350.372px;
	left: 484px;
	top: 933px;
	transform: matrix(1,0,0,1,0,0);
}